/* Base Styles */

.intro {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    margin-left: 20px;
  }
  
  .para {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
  }
  
  .nav-img {
    position: relative;
    background-image: url("../assets/image.jpg");
    background-size: cover;
    background-position: center;
    max-width: 100%; /* Ensuring it doesn't exceed the viewport width */
    height: 90vh;
  }

  @media (max-width: 768px) {
    .nav-img {
        background-position: top center; /* Adjust background position on smaller screens */
        height: 70vh;
        max-width: 100vw;
    }
}

  
  .nav-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .nav-img * {
    position: relative;
    z-index: 2;
  }
  
  .nav-img .list {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding: 20px;
  }
  
  .nav-li {
    list-style: none;
    padding: 0 20px;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .text-outer-div {
    position: relative;
    top: 220px;
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Height auto for flexibility */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-text {
    max-width: 100%; /* Allow text block to fill its container on small screens */
    color: whitesmoke;
    padding: 20px; /* Padding for text readability */
  }
  
  /* Media Queries */
  
  @media (max-width: 768px) {
    .intro,
    .para,
    .nav-img .list,
    .nav-text {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .para {
      width: 100%; /* Full width for better readability on small devices */
      padding: 10px;
    }
  
    .nav-li {
      font-size: 12px; /* Smaller font size on smaller devices */
      padding: 5px 10px;
    }
  
    .text-outer-div {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .intro {
      padding: 10px;
      margin-left: 10px;
    }
  
    .nav-li {
      padding: 5px; /* Reduced padding for smaller screens */
    }
  }
  